header{
  background-color: $color-gray-dark;
  border-bottom: 2px solid $color-gray-light;
  color: $color-01;
  padding: 1rem;

  a{
    color: $color-01;
  }

  .header-nav{
    display: flex;
    justify-content: space-between;
    .menu-navigation{
      display: flex;
      gap: 2rem;
    }
  }
}