{% extends 'base.html.twig' %}



{% block body %}
    <br>
    <div class="container">
        <h2 class="h2 mb-3 font-weight-normal">Registrieren</h2>

        {{ form(regform) }}

    </div>
{% endblock %}
